:root {
    --blue-900: hsl(209deg, 23%, 22%);
    --blue-950: hsl(207deg, 26%, 17%);
    --grey-50: hsl(0deg, 0%, 99%);
    --grey-250: hsl(0deg, 0%, 77%);
    --grey-300: hsl(0deg, 0%, 70%);
    --grey-350: hsl(0deg, 0%, 59%);
    --grey-400: hsl(0deg, 0%, 50%);
    --grey-950: hsl(200deg, 15%, 8%);
}

[data-theme="light"] {
    --fg-color: var(--grey-950);
    --bg-color: white;
    --bg-color-muted: var(--grey-50);
}

[data-theme="dark"] {
    --fg-color: white;
    --bg-color: var(--blue-900);
    --bg-color-muted: var(--blue-950);
}
