$mobile-bp: 23.4375rem /* 375px */;
$tablet-bp: 48rem /* 768px */;
$desktop-bp: 90rem /* 1440px */;

:root {
    --8px: 0.5rem;
    --12px: 0.75rem;
    --14px: 0.875rem;
    --16px: 1rem;
    --18px: 1.125rem;
    --24px: 1.5rem;
    --32px: 2rem;

    --spacing-100: var(--8px);
    --spacing-200: calc(2 * var(--spacing-100));
    --spacing-300: calc(3 * var(--spacing-100));
    --spacing-400: calc(4 * var(--spacing-100));
    --spacing-500: calc(5 * var(--spacing-100));
    --spacing-600: calc(6 * var(--spacing-100));
    --spacing-700: calc(7 * var(--spacing-100));
    --spacing-800: calc(8 * var(--spacing-100));
    --spacing-900: calc(9 * var(--spacing-100));
    --spacing-1000: calc(10 * var(--spacing-100));
}
