@use "styles/design-system" as ds;

@font-face {
    font-family: ds.$font-family;
    font-weight: ds.$font-weight;
    src: local(ds.$font-family), url("assets/fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: ds.$blue-950;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#root {
    min-width: fit-content;
    width: 100%;
}
