@use "styles/design-system" as ds;

@font-face {
    font-family: ds.$font-family;
    font-weight: ds.$font-weight;
    src: local(ds.$font-family), url("assets/fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}