@use "../styles/presets" as *;

.outerContainer {
    display: flex;
    justify-content: center;
    padding-top: var(--spacing-500);
    color: var(--fg-color);
    background-color: var(--bg-color-muted);
}

.innerContainer {
    --570px: 35.625rem;
    max-width: var(--570px);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-800);

    @media (min-width: $tablet-bp) {
        // Not sure why design says that it should be smaller on tablet than on mobile
        gap: var(--spacing-700);
    }

    @media (min-width: $desktop-bp) {
        max-width: none;
    }
}

@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-100);
    padding: var(--spacing-100) var(--spacing-400);
    color: var(--fg-color);
    background-color: var(--bg-color);
    border: none;
    border-radius: 2px;
    @include with-box-shadow;
}

.backButton {
    @include button;
    @include text-preset-5--light;
    @media (min-width: $tablet-bp) {
        @include text-preset-4--light;
    }

    &::before {
        display: inline-block;
        line-height: 100%;
        vertical-align: center;
        content: url('../assets/icons/icon-arrow-left-light.svg');
        [data-theme='dark'] & {
            content: url('../assets/icons/icon-arrow-left-dark.svg');
        }
    }
}

.countryDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $desktop-bp) {
        flex-direction: row;
    }
}

.flag {
    --560px: 35rem;
    max-width: var(--560px);
    width: 100%;
    padding: var(--spacing-200);
    border-radius: 20px;
}

.nameAndDetails {
    --598px: 37.375rem;
    max-width: var(--598px);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    padding: var(--spacing-200);

    h1 {
        @include text-preset-2;
        @media (min-width: $tablet-bp) {
            @include text-preset-1;
        }
    }
}

.details {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-400);
    justify-content: space-between;
    @include text-preset(var(--light), var(--14px), var(--spacing-400));
    @media (min-width: $tablet-bp) {
        @include text-preset(var(--light), var(--16px), var(--spacing-400));
    }
}

.key {
    font-weight: var(--semi-bold);
}

.borderCountriesSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--spacing-200);

    h2 {
        @include text-preset-4--semi-bold;
    }
}

.borderCountries {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-200);
}

.buttonBorderCountry {
    min-width: 6rem;
    height: 1.75rem;
    @include button;
    @include text-preset-6--light;
    @media (min-width: $tablet-bp) {
        @include text-preset-5--light;
    }
}

/* Because React Router's Link are <a> elements */
a {
    text-decoration: none;
}
