@use "../styles/presets" as *;

.filterOptions {
    padding: var(--spacing-200);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: var(--spacing-500) var(--spacing-100);
    background-color: var(--bg-color-muted);

    @media (min-width: $tablet-bp) {
        padding: var(--spacing-600) var(--spacing-500);
    }

    @media (min-width: $desktop-bp) {
        padding: var(--spacing-600) var(--spacing-1000);
    }
}

.countries {
    padding: var(--spacing-200);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-500);
    background-color: var(--bg-color-muted);

    @media (min-width: $tablet-bp) {
        padding: 0 var(--spacing-600);
        gap: var(--spacing-900);
    }

    @media (min-width: $desktop-bp) {
        padding: 0 var(--spacing-1000);
    }
}

.link {
    text-decoration: none;
    color: var(--fg-color);
}
