.card-summary {
    display: flex;
    flex-direction: column;
}

.card-summary>* {
    padding: var(--spacing-200);
}

.card-summary>*+* {
    border-top: var(--border-solid);
}

.card-summary__answer-heading {
    margin-bottom: var(--spacing-75);
    opacity: 60%;
}

.card-summary__footer {
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.card-summary__footer>* {
    padding: var(--spacing-200);
    display: flex;
}

.card-summary__footer>*+* {
    border-left: var(--border-solid);
}

.card-summary__category {
    align-self: center;
}

.card-summary__menu-button {
    background: url("/assets/images/icon-menu.svg") center;
    width: 1.5rem;
    height: 1.5rem;
    border-color: transparent;
    padding: 0;
}

.card-summary__menu-button:hover {
    border-radius: var(--radius-4);
    box-shadow: 2px 2px 0 var(--neutral-900);
    border-color: var(--neutral-900);
}
