#create-form {
    padding: var(--spacing-250);
    display: grid;
    min-width: min-content;
    gap: var(--spacing-200);
}

.create-form__entry {
    display: grid;
    gap: var(--spacing-100);
}

.create-form__entry-error {
    display: none;
    color: var(--pink-700);
}

.create-form__entry-error::before {
    content: url("/assets/images/icon-error.svg") / "Error";
    height: 1rem;
}

*:user-invalid ~ .create-form__entry-error {
    display: flex;
    align-items: center;
    gap: 0.375rem;
}

.create-form__submit {
    --icon-before: url("/assets/images/icon-circle-plus.svg") / "Submit";
    justify-self: flex-start;
}
