.edit-menu button {
    border: none;
    padding: 0;
}

.edit-menu__edit {
    --icon-before: url("/assets/images/icon-edit.svg");
}

.edit-menu__delete {
    --icon-before: url("/assets/images/icon-delete.svg");
}
