.edit-menu button {
    border: none;
    padding: 0;
}

.edit-menu__edit {
    --icon-before: url("/assets/images/icon-edit.svg");
}

.edit-menu__delete {
    --icon-before: url("/assets/images/icon-delete.svg");
}

dialog.delete-confirmation-dialog {
    border-bottom-width: 4px;
    border-right-width: 4px;
}

.delete-confirmation-dialog__message {
    padding: var(--spacing-300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.delete-confirmation-dialog__buttons {
    padding: var(--spacing-150) var(--spacing-300) var(--spacing-100) var(--spacing-300);
    border-top: var(--border-solid);
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-125);
}

.edit-dialog__close {
    position: absolute;
    top: var(--spacing-100);
    right: var(--spacing-100);
}

.edit-dialog__heading {
    padding: var(--spacing-250) var(--spacing-250) 0 var(--spacing-250);
}

@media (min-width: 48rem) {
    .edit-dialog__heading {
        padding: var(--spacing-300) var(--spacing-300) 0 var(--spacing-300);
    }
}

@media (min-width: 64rem) {
    .edit-dialog__heading {
        padding: var(--spacing-400) var(--spacing-400) 0 var(--spacing-400);
    }
}
