@import "presets.css";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --375px: 23.4375em;
    --380px: 23.75em;
    --400px: 25em;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-color: var(--blue-700);
}

.form-container {
    min-width: var(--380px);
    max-width: var(--400px);
    display: grid;
    align-items: center;
    gap: 40px;

    background-color: white;
    color: var(--blue-800);
    box-shadow: 0 15px 60px hsl(0, 0%, 0%, 25%);
}

@media (min-width: 600px) {
    .form-container {
        max-width: none;
        padding: var(--spacing-500);
        border-radius: 36px;
    }
}

@media (min-width: 1000px) {
    .form-container {
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-800);
        padding: var(--spacing-400);
        max-width: 904px;
    }
}

.form-container__img {
    width: 100%;
    max-height: 284px;
    object-fit: cover;
    border-radius: 0 0 8px 8px;
}

@media (min-width: 600px) {
    .form-container__img {
        max-height: 358px;
        border-radius: 16px;
    }
}

@media (min-width: 1000px) {
    .form-container__img {
        content: url("assets/images/illustration-sign-up-desktop.svg");
        max-height: none;
        /* on desktop, the image is on the right side (after text) */
        order: 1;
    }
}

.signup-form {
    display: grid;
    gap: var(--spacing-500);
    padding: 0 var(--spacing-300);
}

@media (min-width: 600px) {
    .signup-form {
        padding: 0;
    }
}

.signup-form__text {
    display: grid;
    gap: 24px;
}

.signup-form__list {
    list-style: none;
}

.signup-form__li {
    display: flex;
    gap: var(--spacing-200);
}

.signup-form__li + .signup-form__li {
    margin-top: var(--spacing-100);
}

.signup-form__li::before {
    content: url("assets/images/icon-list.svg");
}

.signup-form__inputs {
    display: grid;
    gap: var(--spacing-300);
}

.signup-form__input {
    padding: var(--spacing-200) var(--spacing-300);
    border: 1px solid var(--grey);
    border-radius: var(--spacing-100);
    color: var(--blue-800);
}

.signup-form__input:focus {
    border-color: var(--blue-800);
    outline: none;
}

.signup-form__input:user-invalid {
    border-color: var(--red);
    color: var(--red);
    background-color: var(--red-100);
}

.signup-form__input::placeholder {
    color: var(--grey);
}

.signup-form-email {
    display: grid;
    gap: var(--spacing-100);
}

.signup-form-email__label {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

#signup-form-email__error {
    color: var(--red);
    text-align: right;
    width: 100%;
}

.button {
    background-color: var(--blue-800);
    color: white;
    padding: var(--spacing-200) var(--spacing-600);
    border-radius: var(--spacing-100);
    border: none;
}

.button:hover {
    background: linear-gradient(to right, hsl(15deg, 100%, 61%), hsl(346deg, 100%, 66%));
}

.success-dialog[open] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: var(--400px);
    padding: 16% var(--spacing-300) var(--spacing-300) var(--spacing-300);
    gap: var(--spacing-400);
    margin: auto; /* this is how dialog is centered implicitly before CSS reset, let's re-add it. */
    border: none;

    background-color: white;
    color: var(--blue-800);
}

@media (min-width: 600px) {
    .success-dialog[open] {
        min-height: 0;
        max-width: 504px;
        padding: var(--spacing-800);
        border-radius: 36px;
    }
}

.success-dialog::backdrop {
    background-color: var(--blue-700);
}

.success-dialog::before {
    content: url("assets/images/icon-success.svg");
}

.success-dialog__email {
    font-weight: bold;
}

.success-dialog__close-button {
    margin-top: auto;
}
