.card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-200);
    padding: var(--spacing-250) var(--spacing-200);
    text-align: center;
    border-radius: var(--radius-16);
    border-width: 2px;
    box-shadow: 2px 2px 0 var(--neutral-900);
    width: 100%;
    flex-basis: 20rem;
    text-wrap: wrap;
    transition-property: background-color, background-position;
    transition-duration: var(--fade-duration-slow);
}

.card,
.card:hover {
    background:
        url("/assets/images/pattern-flashcard-bg.svg"),
        left 5% bottom 10% url("/assets/images/pattern-star-yellow.svg") no-repeat,
        right 5% top 10% url("/assets/images/pattern-star-blue.svg") no-repeat,
        var(--pink-400);
}

.card--verso,
.card--verso:hover {
    background:
        url("/assets/images/pattern-flashcard-bg.svg"),
        left 10% bottom 10% url("/assets/images/pattern-star-yellow.svg") no-repeat,
        right 5% top 10% url("/assets/images/pattern-star-pink.svg") no-repeat,
        var(--blue-400);
}

.card__body {
    display: grid;
    align-items: center;
}

.card__body>* {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    /* bodies of both sides are stacked on the same grid location */
    grid-area: 1 / 1 / 2 / 2;
}

.card__question,
.card__answer {
    --opacity-when-visible: 1;
}

.card__click-to-reveal,
.card__answer-header {
    --opacity-when-visible: 0.8;
}

.card__question,
.card__answer-header {
    /* Moved down and transparent so that it appears "moving up" when switching card side */
    --vertical-translation-when-masked: 1lh;
}

.card__click-to-reveal,
.card__answer {
    /* Moved up and transparent so that it appears "moving down" when switching card side */
    --vertical-translation-when-masked: -1lh;
}

.card__question,
.card__click-to-reveal,
.card--verso .card__answer-header,
.card--verso .card__answer {
    transform: none;
    opacity: var(--opacity-when-visible);
}


.card--verso .card__question,
.card--verso .card__click-to-reveal,
.card__answer-header,
.card__answer {
    transform: translateY(var(--vertical-translation-when-masked));
    opacity: 0;
}

.card__question,
.card__click-to-reveal,
.card__answer-header,
.card__answer {
    transition-property: transform, opacity;
    transition-duration: var(--fade-duration);
}
