.card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-200);
    padding: var(--spacing-250) var(--spacing-200);
    text-align: center;
    border-radius: var(--radius-16);
    border-right-width: 3px;
    border-bottom-width: 3px;
    width: 100%;
    flex-basis: 20rem;
    text-wrap: wrap;
}

.card, .card:hover {
     background:
        url("/assets/images/pattern-flashcard-bg.svg"),
        left 5% top 90% url("/assets/images/pattern-star-yellow.svg") no-repeat,
        right 5% bottom 90% url("/assets/images/pattern-star-blue.svg") no-repeat,
        var(--pink-400);
}

.card--verso, .card--verso:hover {
    background:
        url("/assets/images/pattern-flashcard-bg.svg"),
        left 5% top 90% url("/assets/images/pattern-star-yellow.svg") no-repeat,
        right 5% bottom 90% url("/assets/images/pattern-star-pink.svg") no-repeat,
        var(--blue-400);
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.card__heading {
    opacity: 80%;
}
