.deck {
    display: flex;
    flex-direction: column;
}

.deck > * + * {
    border-top: var(--border-solid);
}

.card-interactor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-300) var(--spacing-200);
    gap: var(--spacing-250);
}

@media (min-width: 48rem) {
    .card-interactor {
        padding: var(--spacing-250);
    }
}

.card-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-125);
}

.card-buttons button {
    flex-grow: 1;
}

.card-buttons__i-know-this {
    --icon-before: url("/assets/images/icon-circle-check.svg");
}

.card-buttons__reset {
    --icon-before: url("/assets/images/icon-reset.svg");
    background-color: var(--neutral-0);
}
