@import "./presets.css";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gray-200);
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-400);
    padding-bottom: var(--spacing-200);
    background-color: white;
    max-width: 327px;
    border-radius: 10px;
    overflow: clip;
}

.container__image {
    max-height: 200px;
    width: 100%;
}

.article-preview {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    padding: 0 var(--spacing-400);

    background-color: white;
}

.article-preview__title {
    color: var(--gray-900);
}

.article-preview__abstract {
    color: var(--gray-500);
}

.article-preview__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spacing-300);
}

.avatar-author-date {
    display: flex;
    align-items: center;
    gap: var(--spacing-200)
}

.avatar-author-date__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author-date {
    display: grid;
}

.author-date__author {
    color: var(--gray-900);
}

.author-date__date {
    color: var(--gray-400);
}

.share-button {
    background-color: var(--gray-200);
    border-radius: 50%;
    border-width: 0;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
}

.share-button--dark {
    background-color: var(--gray-500);
}

.share-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    margin-top: -76px;
    padding: 0 var(--spacing-400);
    gap: var(--spacing-300);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    z-index: 1;
    background-color: var(--gray-900);
}

.share-modal--hidden {
    display: none;
}

.share-modal__title {
    text-transform: uppercase;
    color: var(--gray-400);
}

.share-modal__links {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.share-modal__link::marker {
    content: ""
}

.share-modal__link {
    width: 20px;
    height: 20px;
    vertical-align: center;
}
