@import "./presets.css";

:root {
    --12px: 0.75rem;
    --20px: 1.25rem;
    --32px: 2rem;
    --55px: 3.4375rem;
    --76px: 4.75rem;
    --200px: 12.5rem;
    --229px: 14.3125rem;
    --248px: 15.5rem;
    --300px: 18.75rem;
    --346px: 21.625rem;
    --608px: 38rem;
    --730px: 45.625rem;

    --share-button-size: var(--32px);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-200);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    padding-bottom: var(--spacing-200);
    background-color: white;
    max-width: 20.435rem /* 327px */;
    border-radius: 10px;
    overflow: clip;
}

@media (min-width: 43.75rem /* 700px */) {
    .container {
        flex-direction: row;
        max-width: var(--608px);
        padding-bottom: 0;
        padding-right: var(--spacing-500);
    }
}

@media (min-width: 62.5rem /* 1000px */) {
    .container {
        max-width: var(--730px);
        gap: var(--spacing-500);
    }
}

.container__image {
    min-height: var(--200px);
    max-width: 100%;
    object-fit: cover;
}

@media (min-width: 43.75rem /* 700px */) {
    .container__image {
        min-height: var(--346px);
        max-width: var(--229px);
    }
}

.article-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-300);
    padding: 0 var(--spacing-400);
    background-color: white;
    min-width: var(--300px);
}

@media (min-width: 43.75rem /* 700px */) {
    .article-preview {
        padding: var(--spacing-400) 0;
    }
}

.article-preview__title {
    color: var(--gray-900);
}

.article-preview__abstract {
    color: var(--gray-500);
}

.article-preview__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spacing-300);
}

.avatar-author-date {
    display: flex;
    align-items: center;
    gap: var(--spacing-200)
}

.avatar-author-date__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author-date {
    display: grid;
}

.author-date__author {
    color: var(--gray-900);
}

.author-date__date {
    color: var(--gray-400);
}

.share-button {
    background-color: var(--gray-200);
    border-radius: 50%;
    border-width: 0;
    margin: 0;
    padding: 0;
    width: var(--share-button-size);
    height: var(--share-button-size);
}

.share-button--toggled {
    background-color: var(--gray-500);
}

.share-button__icon--toggled {
    content: url("./images/icon-share-dark.svg");
}

.modal-container {
    position: relative;
}

.share-modal {
    --modal-height: var(--76px);

    height: var(--modal-height);
    width: 100%;

    position: absolute;
    top: calc(-1 * var(--modal-height));
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-400);
    gap: var(--spacing-300);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--gray-900);
}

@media (min-width: 43.75rem /* 700px */) {
    .share-modal {
        --modal-height: var(--55px);
        --modal-width: var(--248px);

        top: calc(-1 * var(--modal-height) - 5.625rem /* 90px */);
        left: calc(100% - var(--modal-width) / 2 - var(--spacing-500) /* right padding */ - var(--share-button-size) / 2);
        border-radius: 10px;
        max-width: var(--modal-width);
        box-shadow: 0 10px 10px rgba(201, 213, 225, 0.503415);
    }

    .share-modal::after {
        --arrow-height: var(--12px);

        content: "";
        position: absolute;
        width: calc(2 * var(--arrow-height));
        height: var(--arrow-height);
        left: calc(var(--modal-width) / 2 - var(--arrow-height));
        top: var(--modal-height);
        border-top: var(--arrow-height) solid var(--gray-900);
        border-left: var(--arrow-height) solid transparent;
        border-right: var(--arrow-height) solid transparent;
    }
}

@media (min-width: 62.5rem /* 1000px */) {
    .share-modal {
        top: calc(-1 * var(--modal-height) - 6.875rem /* 110 px */);
    }
}

.share-modal--hidden {
    display: none;
}

.share-modal__title {
    text-transform: uppercase;
    color: var(--gray-400);
}

.share-modal__links {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.share-modal__link::marker {
    content: ""
}

.share-modal__link {
    width: var(--20px);
    height: var(--20px);
    vertical-align: center;
}

.share-modal__link-img {
    width: 100%;
    height: 100%;
}

@media (min-width: 43.75rem /* 700px */) {
    .share-modal__button {
        display: none;
    }
}
