:root {
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-700: 56px;
    --spacing-800: 64px;
    --spacing-900: 72px;
    --spacing-1000: 80px;

    --cyan-300: hsl(192, 90%, 67%);
    --cyan-600: hsl(192, 37%, 48%);
    --cyan-600-hovered: #71C0D4;
    --purple-300: hsl(268, 100%, 86%);
    --purple-600: hsl(268, 34%, 53%);
    --purple-600-hovered: #B18BDD;
    --slate-300: hsl(240, 18%, 85%);
    --slate-600: hsl(240, 10%, 57%);
    --slate-900: hsl(240, 21%, 20%);
    --fafafa: #fafafa;
}

.text-preset-1 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0;
}

@media (700px <= width) {
    .text-preset-1 {
        font-size: 48px;
    }
}

.text-preset-2 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0;
}

.text-preset-3 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 4px;
}

.text-preset-4 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
}

.text-preset-5 {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
}
