*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --16px: 1rem;
    --18px: 1.125rem;
    --24px: 1.5rem;
    --56px: 3.5rem;

    --spacing-200: var(--16px);
    --spacing-300: var(--24px);

    --lime: hsl(61deg, 70%, 52%);
    --lime-lightened: hsl(61deg, 70%, 52%, 50%);
    --lime-muted: hsl(61deg, 70%, 52%, 15%);
    --red: hsl(4deg, 69%, 50%);
    --slate-100: hsl(202deg, 86%, 94%);
    --slate-300: hsl(203deg, 41%, 72%);
    --slate-500: hsl(200deg, 26%, 54%);
    --slate-700: hsl(200deg, 24%, 40%);
    --slate-900: hsl(202deg, 55%, 16%);
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: local("Plus Jakarta Sans"), url("assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

.text-preset-1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700; /* bold */
    font-size: var(--56px);
    line-height: 125%;
    letter-spacing: -1px;
}

.text-preset-2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700; /* bold */
    font-size: var(--24px);
    line-height: 125%;
    letter-spacing: -1px;
}

.text-preset-3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700; /* bold */
    font-size: var(--18px);
    line-height: 125%;
    letter-spacing: -1px;
}

.text-preset-4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500; /* medium */
    font-size: var(--16px);
    line-height: 150%;
    letter-spacing: 0;
}

.text-preset-5 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500; /* medium */
    font-size: var(--14px);
    line-height: 150%;
    letter-spacing: 0;
}