@use "./styles/design-system" as *;

body {
    background-color: $blue-850;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-500;
}

main {
    display: flex;
    flex-direction: column;
}
