@use "./styles/design-system" as *;

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: $blue-850;
}

.app {
  display: flex;
  flex-direction: column;
  gap: $spacing-600;
  margin: $spacing-400 $spacing-300;

  &--color-red {
    --accent-color: #{$red-400};
  }

  &--color-cyan {
    --accent-color: #{$cyan-300};
  }

  &--color-purple {
    --accent-color: #{$purple-400};
  }

  &--font-sans {
    @include use-font-sans;
  }

  &--font-serif {
    @include use-font-serif;
  }

  &--font-mono {
    @include use-font-mono;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-500;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-600;
}
