body {
    background-color: var(--blue-50);
}

@media (min-width: 650px) {
    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px
    }
}
