.final-score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px 58px;
    background: var(--gradient-2);
    color: var(--navy-200);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    gap: var(--24px);
}

@media (min-width: 650px) {
    .final-score-card {
        gap: var(--32px);
        border-radius: 32px;
        width: 100%;
    }

    .final-score-card__header {
        /* text-preset-4 */
        font-size: var(--24px);
    }
}

.final-score-card__result {
    --score-circle-size: var(--140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: var(--score-circle-size);
    width: var(--score-circle-size);
    background: var(--gradient-1);
}

@media (min-width: 650px) {
    .final-score-card__result {
        --score-circle-size: var(--200px);
    }
}

.final-score-card__average {
    color: white;
}

@media (min-width: 650px) {
    .final-score-card__average {
        /* text-preset-1 */
        font-size: var(--72px);
    }

    .final-score-card__percent {
        /* text-preset-5 */
        font-size: var(--18px);
    }
}

.final-score-card__appraisal {
    display: flex;
    flex-direction: column;
    gap: var(--8px);
}

.final-score-card__note {
    color: white;
}

@media (min-width: 650px) {
    .final-score-card__note {
        /* text-preset-3 */
        font-size: var(--32px);
    }
    .final-score-card__comment {
        /* text-preset-5 */
        font-size: var(--18px);
    }
}