.final-score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px 15%;
    background: var(--gradient-2);
    color: var(--navy-200);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    gap: var(--24px);
}

.final-score-card__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: var(--140px);
    width: var(--140px);
    color: white;
    background: var(--gradient-1);
}

.final-score-card__result:last-child {
    color: var(--navy-200);
}

.final-score-card__comment {
    display: flex;
    flex-direction: column;
    gap: var(--8px);
}