.final-score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px 58px;
    background: var(--gradient-2);
    color: var(--navy-200);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    gap: var(--24px);
    box-shadow: 0 30px 60px 0 hsl(224deg, 82%, 58%, 15%);
}

@media (min-width: 635px) {
    .final-score-card {
        gap: var(--32px);
        border-radius: 32px;
        width: 100%;
    }
}

.final-score-card__result {
    --score-circle-size: var(--140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: var(--score-circle-size);
    width: var(--score-circle-size);
    color: white;
    background: var(--gradient-1);
}

@media (min-width: 635px) {
    .final-score-card__result {
        --score-circle-size: var(--200px);
    }
}

.final-score-card__result:last-child {
    color: var(--navy-200);
}

.final-score-card__comment {
    display: flex;
    flex-direction: column;
    gap: var(--8px);
}