button {
    border: solid 1px var(--neutral-900);
    border-radius: var(--radius-full);
    padding: var(--spacing-150) var(--spacing-200);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-100);
    background-color: var(--neutral-0);
    font-size: 1rem;
}

button::before {
    content: var(--button-icon);
    width: 1lh;
    height: 1lh;
}
