button {
    border: var(--border-solid);
    border-radius: var(--radius-full);
    padding: var(--spacing-150) var(--spacing-200);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-100);
    background-color: var(--neutral-0);
    font-size: 1rem;
}

.with-shadow {
    box-shadow: 2px 2px 0 var(--neutral-900);
}

.with-shadow:hover {
    box-shadow: 4px 4px 0 var(--neutral-900);
}

button::before {
    content: var(--icon-before-button);
    width: 1rem;
    height: 1rem;
}

button::after {
    content: var(--icon-after-button);
    width: 1rem;
    height: 1rem;
}
