form {
    padding: var(--spacing-250);
    display: grid;
    min-width: min-content;
    gap: var(--spacing-200);
}

@media (min-width: 48rem) {
    form {
        padding: var(--spacing-300);
    }
}

@media (min-width: 64rem) {
    form {
        padding: var(--spacing-400);
    }
}

button[type=submit] {
    justify-self: flex-end;
}

.form__entry {
    display: grid;
    gap: var(--spacing-100);
}

.form__entry-error {
    display: none;
    color: var(--pink-700);
}

.form__entry-error::before {
    content: url("/assets/images/icon-error.svg") / "Error";
    height: 1rem;
}

*:user-invalid ~ .form__entry-error {
    display: flex;
    align-items: center;
    gap: 0.375rem;
}

label {
    font-weight: 500;
}
