button,
input[type=checkbox] {
    background-color: var(--neutral-0);
    outline-offset: 2px;
}

button,
input[type=checkbox] {
    transition: box-shadow var(--fade-duration);
}

button {
    border: var(--border-solid);
    border-radius: var(--radius-full);
    padding: var(--spacing-150) var(--spacing-200);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-100);
    font-size: 1rem;
    font-weight: 500;
    text-wrap: nowrap;
}

button:hover {
    background-color: var(--neutral-100);
}

button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.with-shadow,
.with-shadow:hover {
    background-color: var(--neutral-0);
    box-shadow: 2px 2px 0 var(--neutral-900);
    outline: none;
}

.with-shadow:focus {
    box-shadow: 2px 2px 0 var(--blue-600);
}

.with-shadow:hover {
    box-shadow: 4px 4px 0 var(--neutral-900);
}

.with-shadow:hover:focus {
    box-shadow: 4px 4px 0 var(--blue-600);
}

.primary,
.primary:hover {
    background-color: var(--yellow-500);
}

button::before {
    content: var(--icon-before);
    width: var(--icon-before-width, 1rem);
    height: var(--icon-before-height, 1rem);
}

button::after {
    content: var(--icon-after);
    width: var(--icon-after-width, 1rem);
    height: var(--icon-after-height, 1rem);
}

input[type=checkbox] {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border: var(--border-solid);
    border-radius: var(--radius-4);
}

input[type=checkbox]:checked {
    background-color: var(--yellow-500);
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.98828 0.0976562C8.08594 0 8.24219 0 8.32031 0.0976562L8.88672 0.644531C8.96484 0.742188 8.96484 0.898438 8.88672 0.976562L3.02734 6.83594C2.92969 6.93359 2.79297 6.93359 2.69531 6.83594L0.078125 4.23828C0 4.14062 0 3.98438 0.078125 3.90625L0.644531 3.33984C0.722656 3.26172 0.878906 3.26172 0.976562 3.33984L2.85156 5.23438L7.98828 0.0976562Z' fill='%232E1401'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 62.5%;
}

input[type=checkbox]:not(:focus):hover {
    box-shadow: 1px 1px 0 var(--neutral-900);
}

*::placeholder {
    color: var(--neutral-600);
}

input[type=text],
textarea {
    padding: var(--spacing-200);
    border: var(--border-solid);
    border-radius: var(--radius-6);
    outline: none;
}

input[type=text]:hover,
textarea:hover {
    box-shadow: 2px 2px 0 var(--neutral-900);
}

input[type=text]:user-invalid,
textarea:user-invalid {
    border-color: var(--pink-700);
    box-shadow: 2px 2px 0 var(--pink-700);
}

input[type=text]:focus,
textarea:focus {
    border-color: var(--blue-600);
    box-shadow: 2px 2px 0 var(--blue-600);
}