@font-face {
    font-family: "Poppins";
    src:
        local("Poppins"),
        url("/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype"),
        url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
        url("/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype"),
        url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

* {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0;
    line-height: 120%;
}

.text-preset-1 {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (min-width: 48rem) {
    .text-preset-1 {
        font-size: 2rem;
        font-weight: bold;
    }
}

@media (min-width: 64rem) {
    .text-preset-1 {
        font-size: 2.5rem;
    }
}

.text-preset-2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.text-preset-3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.text-preset-4--semi-bold {
    font-size: 1rem;
    font-weight: 600;
}

.text-preset-4--medium {
    font-size: 1rem;
    font-weight: 500;
}

.text-preset-4--regular {
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
}

.text-preset-5 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 140%;
}

.text-preset-5--regular {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 140%;
}

.text-preset-6 {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 130%;
}