@use "../styles/design-system" as ds;

.pageNewGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: ds.$spacing-600;
    height: 100%;

    @media (min-width: ds.$tablet-bp) {
        gap: ds.$spacing-1000;
    }

    h1 {
        color: white;
        @include ds.text-preset-5;

        @media (min-width: ds.$tablet-bp) {
            @include ds.text-preset-4;
        }
    }

    form {
        background-color: ds.$grey-50;
        border-radius: 10px;
        padding: ds.$spacing-300;
        display: flex;
        flex-direction: column;
        gap: ds.$spacing-300;

        @media (min-width: ds.$tablet-bp) {
            border-radius: 20px;
            gap: ds.$spacing-400;
            padding: ds.$spacing-600;
        }

        fieldset {
            border: none;

            legend {
                color: ds.$blue-400;
                @include ds.text-preset-11;

                @media (min-width: ds.$tablet-bp) {
                    @include ds.text-preset-8;
                }
            }

            .inputs {
                margin-block-start: ds.$spacing-100;
                display: flex;
                justify-content: space-between;
                gap: ds.$spacing-100;

                @media (min-width: ds.$tablet-bp) {
                    margin-block-start: ds.$spacing-200;
                    gap: ds.$spacing-300;
                }
            }
        }
    }
}

