@use "../styles/design-system.scss" as *;

.color-radio-input {
  width: 2.5rem;
  height: 2.5rem;
  appearance: none;
  border-radius: 50%;

  &:checked {
    background-image: url('data:image/svg+xml,<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.707031 5.20709L4.65966 9.15972L13.1123 0.707092" stroke="%23161932" stroke-width="2"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
  }

  &--color-red {
    background-color: $red-400;
  }

  &--color-cyan {
    background-color: $cyan-300;
  }

  &--color-purple {
    background-color: $purple-400;
  }
}
