@use "../styles/design-system.scss" as *;

.font-radio-input {
  @include stack;
  @include text-preset-2;

  letter-spacing: 0;
  place-items: center;
  background-color: $blue-50;
  border-radius: 50%;

  & > * {
    opacity: 0.73;
  }

  & > input {
    width: 2.5rem;
    height: 2.5rem;
    appearance: none;
    border-radius: 50%;
  }

  &:has(input:checked) {
    background-color: $blue-850;

    & > * {
      color: white;
      opacity: 1;
    }
  }

  &--font-1 {
    @include use-font-1;
  }

  &--font-2 {
    @include use-font-2;
  }

  &--font-3 {
    @include use-font-3;
  }
}
