@use "../styles/design-system.scss" as *;

.font-radio-input {
  @include stack;
  @include text-preset-2;

  letter-spacing: 0;
  place-items: center;
  background-color: $blue-50;
  border-radius: 50%;

  & > * {
    opacity: 0.73;
  }

  & > input {
    width: 2.5rem;
    height: 2.5rem;
    appearance: none;
    border-radius: 50%;
  }

  &:has(input:checked) {
    background-color: $blue-850;

    & > * {
      color: white;
      opacity: 1;
    }
  }

  &:has(input[value="sans"]) {
    @include use-font-sans;
  }

  &:has(input[value="serif"]) {
    @include use-font-serif;
  }

  &:has(input[value="mono"]) {
    @include use-font-mono;
  }

  &:has(input:active) {
    scale: $button-active-scale;
  }
}
