@use "../styles/design-system.scss" as *;

.number-input {
  @include stack;

  &__input {
    @include text-preset-3--settings;
    appearance: textfield;
    background: $blue-50;
    border: none;
    border-radius: $radius-8;
    padding: $spacing-150 $spacing-200;
    min-width: 0;
  }

  &__buttons {
    justify-self: flex-end;
    align-self: center;
    display: grid;
    margin-inline-end: $spacing-200;

    > button {
      border: none;
      background: none;
      transform-origin: 13.5px 9px;
    }
  }
}
