@use "../styles/design-system.scss" as *;

.number-input {
    @include stack;

    &__input {
        appearance: textfield;
        background: $blue-50;
        border: none;
        border-radius: $radius-8;
        padding: $spacing-150 $spacing-200;
    }

    &__buttons {
        justify-self: flex-end;
        display: grid;
        margin-inline-end: $spacing-200;

        >button {
            border: none;
            background: none;
        }
    }
}