@use "../styles/design-system.scss" as *;

.settings-dialog {
  border: none;
  background-color: $blue-850;
  max-width: 33.75rem;

  &::backdrop {
    background-color: $blue-850;
  }

  &::after {
    content: "";
    display: block;
    height: $spacing-300;
  }

  &__inner {
    background-color: white;
    border-radius: $radius-16;
    padding: 0;

    @media (min-width: $bp-tablet) {
      border-radius: $radius-24;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    border-block-end: solid 1px $grey-200;
    padding: $spacing-200 $spacing-300;
    margin-block-end: $spacing-200;

    @media (min-width: $bp-tablet) {
      padding: $spacing-300 $spacing-400;
    }
  }

  h2 {
    @include text-preset-1--settings;
  }

  &__close-button {
    border: none;
    background: none;
  }

  h3 {
    @include text-preset-3--settings;
  }

  form {
    display: grid;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-200;
    border: none;
    margin-inline: $spacing-300;
    padding-block-end: $spacing-300;

    @media (min-width: $bp-tablet) {
      margin-inline: $spacing-400;
    }

    & + fieldset {
      border-top: solid 1px $grey-200;
      padding-block-start: $spacing-300;
    }

    & > h3 {
      text-transform: uppercase;
    }
  }

  label {
    @include text-preset-4--settings;
  }

  @media (min-width: $bp-tablet) {
    &__timers-heading {
      align-self: flex-start;
    }
  }

  &__timers {
    display: grid;
    gap: $spacing-100;

    @media (min-width: $bp-tablet) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: $spacing-300;
    }
  }

  &__timer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 span 2;
    align-items: center;
    gap: $spacing-100;

    > label {
      opacity: 40%;
    }

    @media (min-width: $bp-tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-row: 1 span 2;
    }
  }

  &__fonts,
  &__colors {
    display: flex;
    gap: $spacing-200;
    justify-content: center;
  }

  @media (min-width: $bp-tablet) {
    fieldset:has(&__fonts),
    fieldset:has(&__colors) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__apply-button {
    @include text-preset-2--settings;

    border: none;
    border-radius: $radius-full;
    background: var(--accent-color);
    color: white;
    padding: $spacing-200 $spacing-600;
    justify-self: center;

    --vertical-translation: calc(-1lh - #{$spacing-100});
    margin-top: var(--vertical-translation);
    position: relative;
    bottom: var(--vertical-translation);
  }
}
