@use "../styles/design-system" as *;

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.timer {
  @include stack;

  max-width: 25rem;
  min-width: fit-content;
  aspect-ratio: 1 / 1;
  padding: 1.375rem;
  background:
    linear-gradient($blue-900) content-box,
    linear-gradient(to left, $gradient-1-start, $gradient-1-end) padding-box;
  border-radius: 50%;
  box-shadow:
    -50px -50px 100px #272c5a,
    50px 50px 100px #121530;

  &:has(&__button:active) {
    scale: 0.97;
  }

  &__arc {
    --_thickness: 0.85rem;
    --_progress: calc(360deg * var(--progress));
    --_edge: /var(--_thickness) var(--_thickness) no-repeat
      radial-gradient(50% 50%, #000 97%, #0000);
    padding: var(--_thickness);
    margin: var(--_thickness);
    border-radius: 50%;
    background: var(--accent-color);
    mask:
      top var(--_edge),
      calc(50% + 50% * sin(var(--_progress)))
        calc(50% - 50% * cos(var(--_progress))) var(--_edge),
      linear-gradient(#0000 0 0) content-box intersect,
      conic-gradient(#000 var(--_progress), #0000 0);
    transition: --progress 0.5s;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    z-index: 1;

    @media (min-width: $bp-tablet) {
      gap: $spacing-100;
    }
  }

  &__remaining {
    @include text-preset-1;
    min-width: 5ch;
    text-align: center;
    color: $blue-100;
  }

  &__button {
    @include text-preset-2;
    text-transform: uppercase;
    color: $blue-100;
    border: none;
    background: none;

    &:hover {
      color: var(--accent-color);
      filter: none;
    }

    &:active {
      // don't scale down button, the whole timer is already scaled down
      scale: 1;
    }
  }
}
