@use "colors" as *;
@use "spacing" as *;
@use "typography" as *;

@mixin button--rounded {
    border: none;
    /* Capsule-shaped button by applying a very large border-radius (https://stackoverflow.com/a/18795153) */
    border-radius: 42rem;
    padding: $spacing-100 $spacing-400;
}
