$blue-100: hsl(203deg, 25%, 90%);
$blue-300: hsl(203deg, 28%, 79%);
$blue-350: hsl(205deg, 37%, 55%);
$blue-400: hsl(203deg, 22%, 55%);
$blue-800: hsl(205deg, 30%, 27%);
$blue-950: hsl(206deg, 45%, 15%);

$orange-300: hsl(36deg, 100%, 65%);
$orange-400: hsl(37deg, 98%, 54%);

$grey-50: hsl(0deg, 0%, 99%);
$grey-100: hsl(0deg, 0%, 95%);