@forward "colors";
@forward "functions";
@forward "spacing";
@forward "typography";

$mobile-bp: 23rem /* 368px */;
$tablet-bp: 48rem /* 768px */;
$desktop-bp: 90rem /* 1440px */;

@mixin rounded-corners {
    border-radius: 1.5rem / 50%;
}