$spacing-100: 0.5rem;
$spacing-200: 2 * $spacing-100;
$spacing-300: 3 * $spacing-100;
$spacing-400: 4 * $spacing-100;
$spacing-500: 5 * $spacing-100;
$spacing-600: 6 * $spacing-100;
$spacing-1000: 10 * $spacing-100;
