.badge {
    --icon-before: none;
    background-color: var(--neutral-0);
    display: flex;
    align-items: center;
    gap: var(--spacing-75);
    padding: var(--spacing-75) var(--spacing-150);
    border: var(--border-solid);
    border-radius: var(--radius-full);
    box-shadow: 1px 1px 0 var(--neutral-900);
}

.badge::before {
    content: var(--icon-before);
}
