.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-200);
    padding: var(--spacing-250) var(--spacing-200);
    text-align: center;
    border-radius: var(--radius-16);
    border-right-width: 3px;
    border-bottom-width: 3px;
    width: 100%;
    /* TODO fix height */
    height: 300px;
    background:
        url("/assets/images/pattern-flashcard-bg.svg"),
        left 5% top 90% url("/assets/images/pattern-star-yellow.svg") no-repeat,
        right 5% bottom 90% url("/assets/images/pattern-star-blue.svg") no-repeat,
        var(--pink-400);
}

.card--verso {
    background:
        url("/assets/images/pattern-flashcard-bg.svg"),
        left 5% top 90% url("/assets/images/pattern-star-yellow.svg") no-repeat,
        right 5% bottom 90% url("/assets/images/pattern-star-pink.svg") no-repeat,
        var(--blue-400);
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.card__category {
    border: var(--border-solid);
    border-radius: var(--radius-full);
    background-color: var(--neutral-0);
    padding: 6px 12px;
    box-shadow: 1px 1px 0 var(--neutral-900);
}

.card__heading {
    opacity: 80%;
}