.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-200);
    padding: var(--spacing-250) var(--spacing-200);
    text-align: center;
    background-color: var(--pink-400);
    border-radius: var(--radius-16);
    box-shadow: 2px 2px 0 var(--neutral-900);
    width: 100%;
    height: 300px; /* TODO fix size */
}

.card--verso {
    background-color: var(--blue-400);
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.card__category {
    border: 1px solid var(--neutral-900);
    border-radius: var(--radius-full);
    background-color: var(--neutral-0);
    padding: 6px 12px;
    box-shadow: 1px 1px 0 var(--neutral-900);
}

.card__heading {
    opacity: 80%;
}
