#create-form {
    padding: var(--spacing-250);
    display: grid;
    min-width: min-content;
    gap: var(--spacing-200);
}

.create-form__entry {
    display: grid;
    gap: var(--spacing-100);
}

.create-form__entry-error {
    display: none;
    color: var(--pink-700);
}

.create-form__entry-error::before {
    content: url("/assets/images/icon-error.svg") / "Error";
    height: 1rem;
}

*:user-invalid ~ .create-form__entry-error {
    display: flex;
    align-items: center;
    gap: 0.375rem;
}

.create-form__entry:hover > input,
.create-form__entry:hover > textarea {
    box-shadow: 2px 2px 0 var(--neutral-900);
}

.create-form__entry:focus > input,
.create-form__entry:focus > textarea {
    box-shadow: 2px 2px 0 var(--blue-600);
}

.create-form__submit {
    --icon-before-button: url("/assets/images/icon-circle-plus.svg") / "Submit";
    background-color: var(--yellow-500);
    justify-self: flex-start;
}
