.deck {
    display: flex;
    flex-direction: column;
}

.deck > * + * {
    border-top: var(--border-solid);
}

.deck-transformer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--spacing-150) var(--spacing-200);
}

.deck-transformer__shuffle {
    --icon-before-button: url("/assets/images/icon-shuffle.svg");
}

.deck-filter {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-125);
}

.deck-filter__hide-mastered {
    display: flex;
    gap: var(--spacing-100);
}

.card-interactor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-300) var(--spacing-200);
    gap: var(--spacing-250);
}

.card-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-125);
}

.card-buttons button {
    flex-grow: 1;
}

.card-buttons__i-know-this {
    --icon-before-button: url("/assets/images/icon-circle-check.svg");
    background-color: var(--yellow-500);
}

.card-buttons__reset {
    --icon-before-button: url("/assets/images/icon-reset.svg");
    background-color: var(--neutral-0);
}

.card-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--spacing-200);
}

.card-selector button {
    height: 40px;
    width: 40px;
}

.card-selector__previous {
    background: url("/assets/images/icon-chevron-left.svg") center no-repeat;
}

.card-selector__next {
    background: url("/assets/images/icon-chevron-right.svg") center no-repeat;
}