.deck-transformer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--spacing-600);
    padding: var(--spacing-150) var(--spacing-200);
}

.deck-transformer__shuffle {
    --icon-before: url("/assets/images/icon-shuffle.svg");
}

.deck-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-125);
}

.deck-filter__hide-mastered {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
}
