.deck {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-900);
    border-radius: var(--radius-16);
    box-shadow: 1px 3px 0 var(--neutral-900);
}

.deck > * + * {
    border-top: solid 1px var(--neutral-900);
}

.deck-transformer {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-150) var(--spacing-200);
}

.deck-transformer__shuffle {
    --button-icon: url("/assets/images/icon-shuffle.svg");
}


.deck-filter {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-125);
}

.deck-filter__hide-mastered {
    display: flex;
    gap: var(--spacing-100);
}


.card-interactor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-300) var(--spacing-200);
    gap: var(--spacing-250);
}

.card-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-125);
}

.card-buttons button {
    box-shadow: 2px 2px 0 var(--neutral-900);
}

.card-buttons__i-know-this {
    --button-icon: url("/assets/images/icon-circle-check.svg");
    background-color: var(--yellow-500);
}

.card-buttons__reset {
    --button-icon: url("/assets/images/icon-reset.svg");
    background-color: var(--neutral-0);
}

.card-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--spacing-200);
}

.card-selector button {
    height: 40px;
    width: 40px;
}

.card-selector__previous {
    background: url("/assets/images/icon-chevron-left.svg") center no-repeat;
}

.card-selector__next {
    background: url("/assets/images/icon-chevron-right.svg") center no-repeat;
}