.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-1200);
}

.menu-bar__nav {
    display: flex;
    align-items: center;
    gap: var(--spacing-50);
    padding: var(--spacing-50);

    border: var(--border-solid);
    border-radius: var(--radius-full);
    box-shadow: 1px 2px 0 var(--neutral-900);

    background-color: var(--neutral-0);
}

.menu-bar__link {
    border-radius: var(--radius-full);
    padding: 12px var(--spacing-100);
    text-decoration: none;
    text-wrap: nowrap;
}

.menu-bar__link:hover,
.menu-bar__link--active {
    outline: var(--border-solid);
}

.menu-bar__link--active {
    background-color: var(--yellow-500);
}
