.progress-bar {
   display: flex;
   align-items: center;
   gap: var(--spacing-100);
}

.progress-bar__bar-outside {
   width: 3.75rem;
   background-color: var(--neutral-0);
   border: var(--border-solid);
   border-radius: var(--radius-full);
   margin: var(--spacing-150) 0;
}

.progress-bar__bar-inside {
   --progress: 0%;
   height: 0.5rem;
   width: var(--progress);
   background-color: var(--neutral-900);
   border-radius: var(--radius-full);
}

.progress-bar__badge-mastered {
   background-color: var(--teal-400);
   --icon-before: url("/assets/images/icon-mastered.svg");
}
