@use "../styles/design-system" as ds;

.buttonPrimary {
    background-color: ds.$orange-400;
    color: ds.$grey-50;
    @include ds.button--rounded;
    @include ds.text-preset-9;

    @media (min-width: ds.$tablet-bp) {
        @include ds.text-preset-5;
    }

    &:hover {
        background-color: ds.$orange-300;
    }
}
