@use "../styles/design-system" as ds;

.gameGrid {
    display: grid;
    gap: ds.$spacing-100;
    width: 100%;
    height: 100%;

    &[data-grid-size="4x4"] {
        grid-template: repeat(4, 10ch) / repeat(4, 10ch);
    }

    &[data-grid-size="6x6"] {
        grid-template: repeat(6, 10ch) / repeat(6, 10ch);
    }
}

