@use "../styles/design-system" as ds;

.cell {
    border: none;
    border-radius: 50%;
    color: ds.$grey-50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include ds.inherit-text-preset;

    img {
        height: 0.8lh;
    }

    &.hidden {
        background-color: ds.$blue-800;
        p, img {
            opacity: 0;
        }
    }

    &.found {
        background-color: ds.$blue-300;
    }

    &.shown {
        background-color: ds.$orange-400;
    }

}
