@use "../styles/design-system" as ds;

.menuMultiplayer {
    display: flex;
    gap: ds.$spacing-300;
    width: 100%;
    justify-content: space-between;

    @media (min-width: ds.$tablet-bp) {
        gap: ds.$spacing-100;
    }

    @media (min-width: ds.$desktop-bp) {
        gap: ds.$spacing-400;
    }

    .playerCard {
        flex-grow: 1;
        @media (min-width: ds.$tablet-bp) {
            display: none;
        }
    }

    .playerCard--tablet {
        flex-grow: 1;
        display: none;
        @media (ds.$tablet-bp <= width < ds.$desktop-bp) {
            display: block;
        }
    }

    .playerCard--desktop {
        flex-grow: 1;
        display: none;

        .currentTurnLabel {
            text-transform: uppercase;
            text-align: center;
            padding-top: ds.$spacing-300;
            @include ds.text-preset-13;
        }

        @media (min-width: ds.$desktop-bp) {
            display: block;
        }
    }
}
