@use "../styles/design-system" as ds;

.menuBar {
    display: flex;
    justify-content: space-between;
    background-color: ds.$grey-50;

    h1 {
        color: ds.$blue-950;
        @include ds.text-preset-7;
    }

    dialog[open] {
        display: flex;
        gap: ds.$spacing-200;

        &::backdrop {
            background-color: hsl(0, 0%, 0%, 0.5);
        }

        button {
            width: 100%;
        }
    }
}

.buttons {
    button {
        background-color: ds.$orange-400;
        color: ds.$grey-50;
        padding: ds.$spacing-100 ds.$spacing-300;
        @include ds.text-preset-10;
        @include ds.button--rounded;

        &:hover {
            background-color: ds.$orange-300;
        }
    }
}