@use "../styles/design-system" as ds;

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ds.$grey-50;

    h1 {
        color: ds.$blue-950;
        @include ds.text-preset-7;

        @media (min-width: ds.$tablet-bp) {
            @include ds.text-preset-4;
        }
    }

    .container--mobile {
        display: block;

        dialog[open] {
            display: flex;
            gap: ds.$spacing-200;
            min-width: fit-content;

            &::backdrop {
                background-color: hsl(0, 0%, 0%, 0.5);
            }

            button {
                width: 100%;
            }
        }

        @media (min-width: ds.$tablet-bp) {
            display: none;
        }
    }

    .container--tablet {
        display: none;

        .buttons {
            display: flex;
            gap: ds.$spacing-200;
        }

        @media (min-width: ds.$tablet-bp) {
            display: block;
        }
    }
}