@use "../styles/design-system" as ds;

dialog[open] {
    margin: auto; /* this is how dialog is centered implicitly before CSS reset, let's re-add it. */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: ds.$grey-100;
    gap: ds.$spacing-300;
    padding: ds.$spacing-300;

    .congrats {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: ds.$spacing-100;

        h2 {
            color: ds.$blue-950;
            @include ds.text-preset-7;
        }

        p {
            color: ds.$blue-400;
            @include ds.text-preset-12;
        }
    }

    .stats {
        display: flex;
        flex-direction: column;
        gap: ds.$spacing-100;
        width: 100%;
        list-style-type: none;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: ds.$spacing-200;
        width: 100%;
    }

    &::backdrop {
        background-color: hsl(0, 0%, 0%, 0.5);
    }
}