@use "../styles/design-system" as ds;

.stat {
    --padding: #{ds.$spacing-200};

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-radius: 5px;
    padding: var(--padding);
    background-color: ds.$blue-100;
    column-gap: 3rem;

    @media (min-width: ds.$tablet-bp) {
        border-radius: 10px;
    }

    .arrowContainer {
        display: none;
    }

    &--column {
        flex-direction: column;

        @media (min-width: ds.$tablet-bp) {
            align-items: flex-start;
        }
    }

    &--best {
        background-color: ds.$blue-950;
    }

    &--current {
        background-color: ds.$orange-400;

        .arrowContainer {
            position: relative;
            display: flex;
            justify-content: center;
            align-self: center;

            &::before {
                --arrow-height: 0.5rem;

                /* The arrow is positioned at the top of the modal, in the middle */
                content: "";
                position: absolute;
                width: calc(2 * var(--arrow-height));
                height: var(--arrow-height);
                top: calc((var(--arrow-height) + var(--padding)) * -1);

                /* This is here the magic happens: Bottom border gets "merged" with left and right transparent borders,
                 * creating the triangle. */
                border-bottom: var(--arrow-height) solid ds.$orange-400;
                border-left: var(--arrow-height) solid transparent;
                border-right: var(--arrow-height) solid transparent;
            }
        }
    }

    &__key {
        color: ds.$blue-400;
        @include ds.text-preset-12;

        &--big {
            @include ds.text-preset-11;

            @media (min-width: ds.$tablet-bp) {
                @include ds.text-preset-9;
            }
        }

        &--best,
        &--current {
            color: ds.$grey-50;
        }
    }

    &__value {
        color: ds.$blue-800;
        @include ds.text-preset-8;

        &--big {
            @include ds.text-preset-7;

            @media (min-width: ds.$tablet-bp) {
                @include ds.text-preset-5;
            }
        }

        &--best,
        &--current {
            color: ds.$grey-50
        }
    }
}
