@use "../styles/design-system" as ds;

.stat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-radius: 5px;
    padding: ds.$spacing-200;
    background-color: ds.$blue-100;

    &--column {
        flex-direction: column;
    }

    &__key {
        color: ds.$blue-400;
        @include ds.text-preset-12;
    }

    &__value {
        color: ds.$blue-800;
        @include ds.text-preset-8;
    }
}
