.btn {
    display: flex;
    gap: var(--spacing-100);
    align-items: center;
    justify-content: center;
    height: var(--button-height);
    width: 160px;

    padding: var(--spacing-150);
    background-color: white;
    color: var(--rose-900);
    border: 1px solid var(--rose-400);
    border-radius: calc(var(--button-height) / 2);
}

.btnInactive:hover {
    color: var(--red);
    border-color: var(--red);
}

.btnActive {
    background-color: var(--red);
    border-color: var(--red);
    color: white;
    justify-content: space-between;
}

.spinner {
    height: 16px;
    width: 16px;
    border: solid 1px white;
    border-radius: 50%;
    padding: 2px;
}

.inputQuantity {
    appearance: textfield;
    background-color: var(--red);
    border: none;
    min-width: 0;
    color: white;
    text-align: center;
}
