.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: var(--spacing-300);
    gap: var(--spacing-200);
}

.cart__header {
    color: var(--red);
}

.cart--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
    color: var(--rose-500);
}

.cart-placeholder {
    height: 128px;
    width: 128px;
}
