.imgAndButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100%;
    max-width: 400px;
}

.btn {
    position: relative;
    top: calc(var(--button-height) / -2);
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
    margin-top: var(--spacing-100);
}

.category {
    color: var(--rose-500);
}

.name {
    color: var(--rose-900);
}

.price {
    color: var(--red);
}

.price::before {
    content: '$';
}