.dessert__img-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dessert__img {
    width: 100%;
    max-width: 400px;
}

.dessert__button {
    position: relative;
    top: calc(var(--button-height) / -2);
}

.dessert__details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
    margin-top: var(--spacing-100);
}

.dessert__category {
    color: var(--rose-500);
}

.dessert__name {
    color: var(--rose-900);
}

.dessert__price {
    color: var(--red);
}

.dessert__price::before {
    content: '$';
}