.dialog[open] {
    --dialog-border-radius: 16px;
    min-width: max(var(--300px), 100%);
    border: none;
    border-top-left-radius: var(--dialog-border-radius);
    border-top-right-radius: var(--dialog-border-radius);
    padding: 40px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    margin-top: auto;
}

@media (min-width: 40.625rem /* 650px */) {
    .dialog[open] {
        --688px: 42rem;
        margin: auto;
        max-width: var(--688px);
        min-width: var(--688px);
        border-radius: var(--dialog-border-radius);
    }
}

.confirmationTitle {
    color: var(--rose-900);
    margin-top: var(--spacing-300);
}

.confirmationSubtitle {
    color: var(--rose-500);
    margin-top: var(--spacing-100);
}

.confirmedOrder {
    background-color: var(--rose-50);
    border-radius: 8px;
    padding: 24px;
    min-width: 250px;
}
