.layout {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    padding: var(--spacing-200);
}

@media (min-width: 48rem) {
    .layout {
        padding: var(--spacing-300);
    }
}

@media (min-width: 64rem) {
    .layout {
        padding: var(--spacing-300) var(--spacing-1200);
        gap: var(--spacing-400);
    }
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-300);
}

main {
    flex: 1 1 66%;
    display: grid;
    gap: var(--spacing-300);
}

aside {
    flex: 1 1 24.5rem;
}
