@use "../styles/presets" as *;

.card {
    --336px: 21rem;
    --264px: 16.5rem;
    height: var(--336px);
    width: var(--264px);
    background-color: var(--bg-color);
    @include with-box-shadow;
}

.flag {
    height: 10rem;
    width: 100%;
    object-fit: cover;
}

.nameAndSummary {
    padding: var(--spacing-300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);

    h2 {
        @include text-preset-3;
    }
}

.summary {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    @include text-preset(var(--light), var(--14px), 100%);
}

.key {
    font-weight: var(--semi-bold);
}