@use "../styles/presets" as *;

.dropDownOptions {
    border: none;
    color: var(--fg-color);
    background-color: var(--bg-color);
    padding: var(--spacing-200) var(--spacing-300);
    @include with-box-shadow;
    @include text-preset-5--regular;

    &::picker-icon {
        content: url("../assets/icons/icon-arrow-down.svg");
    }
}

.dropDownOptions,
::picker(select) {
    appearance: base-select;
}

::picker(select) {
    color: var(--fg-color);
    background-color: var(--bg-color);
    margin-top: var(--spacing-100);
    padding: var(--spacing-200) var(--spacing-300);
    border: none;
    border-radius: 5px;
    @include with-box-shadow;

    &:popover-open {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-100);
    }
}
