@use "../styles/presets" as *;

menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-400) var(--spacing-200);
    background-color: var(--bg-color);
    @include with-box-shadow;

    @media (min-width: $tablet-bp) {
        padding: var(--spacing-400) var(--spacing-500);
    }

    @media (min-width: $desktop-bp) {
        padding: var(--spacing-400) var(--spacing-1000);
    }
}

.title {
    color: var(--fg-color);
    @include text-preset-2;
}

.buttonSwitchTheme {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    color: var(--fg-color);
    @include text-preset-4--semi-bold;

    &::before {
        display: inline-block;
        line-height: 100%;
        vertical-align: center;
        content: url("../assets/icons/icon-switch-to-dark.svg");
        [data-theme="dark"] & {
            content: url("../assets/icons/icon-switch-to-light.svg");
        }
    }

    &::after {
        content: "Dark Mode";
        [data-theme="dark"] & {
            content: "Light Mode";
        }
    }
}
