:root {
    --48px: 3rem;
    --field-height: var(--48px);
    --field-border-radius: 4px;
    --field-color-valid: var(--lime);
    --field-color-invalid: var(--red);
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--spacing-300);
    gap: var(--spacing-300);
}

.resetFormButton {
    border: none;
    background-color: transparent;
    text-align: left;
    color: var(--slate-700);
}

.resetFormButton:hover {
    color: var(--slate-900);
    text-decoration: underline;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.radioGroup > label {
    color: var(--slate-700);
}

.radioGroup:has(input:user-invalid)::after {
    content: "This field is required";
    /* text preset-5 */
    color: var(--red);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500; /* medium */
    font-size: var(--14px);
    line-height: 150%;
    letter-spacing: 0;
}

.submitButton {
    --button-height: var(--56px);
    height: var(--button-height);
    border: none;
    border-radius: calc(var(--button-height) / 2);
    background-color: var(--lime);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);
}

.submitButton:hover {
    background-color: var(--lime-lightened);
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-300);
    background-color: var(--slate-900);
}

.result h2 {
    color: white;
}

.result p {
    color: var(--slate-300);
}

.resultPlaceholder {
    gap: var(--spacing-200);
    text-align: center;
}

.resultFilled {
    gap: var(--spacing-300);
}

.resultFilledHeader {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.resultFilledTable {
    padding: var(--spacing-300);
    background-color: hsl(0, 0%, 0%, 25%);
    border-radius: 8px;
    border-top: solid 4px var(--lime);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.resultEntry {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.resultSeparator {
    background-color: var(--slate-300);
    border-width: 0;
    height: 1px;
}

p.resultMonthly {
    color: var(--lime);
}

p.resultTotal {
    color: white;
}
