:root {
    --48px: 3rem;
    --field-height: var(--48px);
    --field-border-radius: 4px;
    --field-color-valid: var(--lime);
    --field-color-invalid: var(--red);
}

.calculator {
    background-color: white;
    display: grid;
    box-shadow: 0 32px 64px 0 hsl(202deg, 55%, 16%, 10%);

    --336px: 21rem;
    --1008px: 63rem;
    min-width: var(--336px);
    max-width: var(--1008px);
}

@media (min-width: 40rem /* 640px */ ) {
    .calculator {
        margin: 40px;
        border-radius: 24px;
    }
}

@media (min-width: 64rem /* 1024px */ ) {
    .calculator {
        grid-template-columns: 1fr 1fr;
    }
}

.formContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--spacing-300);
    gap: var(--spacing-300);
}

@media (min-width: 40rem /* 640px */ ) {
    .formContainer {
        gap: var(--spacing-500);
        padding: var(--spacing-500)
    }
}

.formHeader {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

@media (min-width: 40rem /* 640px */ ) {
    .formHeader {
        flex-direction: row;
        justify-content: space-between;
    }
}

.formTitle {
    color: var(--slate-900);
}

.resetFormButton {
    border: none;
    background-color: transparent;
    text-align: left;
    text-decoration: underline;
    color: var(--slate-700);
}

.resetFormButton:hover {
    color: var(--slate-900);
}

.formFields {
    display: grid;
    gap: var(--spacing-300);
    grid-template-areas:
            "amount"
            "term"
            "rate"
            "type"
}

@media (min-width: 40rem /* 640px */ ) {
    .formFields {
        grid-template-areas:
            "amount amount"
            "term rate"
            "type type"
    }
}

.formFieldsAmount {
    grid-area: amount;
}

.formFieldsTerm {
    grid-area: term;
}

.formFieldsRate {
    grid-area: rate;
}

.formFieldsType {
    grid-area: type;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.radioGroup > label {
    color: var(--slate-700);
}

.radioGroup:has(input:user-invalid)::after {
    content: "This field is required";
    /* text preset-5 */
    color: var(--red);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500; /* medium */
    font-size: var(--14px);
    line-height: 150%;
    letter-spacing: 0;
}

.submitButton {
    --button-height: var(--56px);
    height: var(--button-height);
    border: none;
    border-radius: calc(var(--button-height) / 2);
    background-color: var(--lime);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);
}

.submitButton:hover {
    background-color: var(--lime-lightened);
}

@media (min-width: 40rem /* 640px */ ) {
    .submitButton {
        --314px: 19.625rem;
        max-width: var(--314px);
    }
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-300);
    background-color: var(--slate-900);
}

@media (min-width: 40rem /* 640px */ ) {
    .result {
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        padding: var(--spacing-500);
    }
}

@media (min-width: 64rem /* 1024px */ ) {
    .result {
        border-bottom-left-radius: 60px;
        border-top-right-radius: 24px;
    }
}

.result h2 {
    color: white;
}

.result p {
    color: var(--slate-300);
}

.resultPlaceholder {
    gap: var(--spacing-200);
    text-align: center;
}

.resultFilled {
    gap: var(--spacing-300);
}

@media (min-width: 40rem /* 640px */ ) {
    .resultFilled {
        gap: var(--spacing-500);
    }
}

.resultFilledHeader {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.resultFilledTable {
    padding: var(--spacing-300) var(--spacing-200);
    background-color: hsl(0, 0%, 0%, 25%);
    border-radius: 8px;
    border-top: solid 4px var(--lime);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

@media (min-width: 40rem /* 640px */ ) {
    .resultFilledTable {
        gap: var(--spacing-400);
        padding: var(--spacing-400);
    }
}

.resultEntry {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.resultSeparator {
    background-color: var(--slate-300);
    border-width: 0;
    height: 1px;
}

p.resultMonthly {
    color: var(--lime);
}

p.resultTotal {
    color: white;
}
