:root {
    --48px: 3rem;
    --field-height: var(--48px);
    --field-border-radius: 4px;
    --field-color-valid: var(--lime);
    --field-color-invalid: var(--red);
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--spacing-300);
    gap: var(--spacing-300);
}

.resetFormButton {
    border: none;
    background-color: transparent;
    text-align: left;
    color: var(--slate-700);
}

.resetFormButton:hover {
    color: var(--slate-900);
    text-decoration: underline;
}

.numberField label {
    color: var(--slate-700);
}

.numberFieldPrefixInputSuffix {
    display: flex;
    align-items: center;
    height: var(--field-height);
    border: solid 1px var(--slate-500);
    border-radius: var(--field-border-radius);
    color: var(--slate-700);
    background-color: var(--slate-100);
}

.numberFieldPrefixInputSuffix:has(input:user-invalid) {
    border-color: var(--field-color-invalid);
    background-color: var(--field-color-invalid);
    color: white;
}

.numberFieldPrefixInputSuffix:has(input:valid) {
    border-color: var(--field-color-valid);
    background-color: var(--field-color-valid);
    color: var(--slate-900)
}

.numberFieldPrefixInputSuffix > input {
    appearance: textfield;
    width: 100%;
    height: 100%;
    padding: var(--spacing-200);
    border: none;
    background-color: white;
    color: var(--slate-900);
}

.numberFieldPrefixInputSuffix > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numberFieldPrefixInputSuffix > input:focus {
    outline: none;
}

.numberFieldPrefixInputSuffix > input:first-child {
    border-bottom-left-radius: var(--field-border-radius);
    border-top-left-radius: var(--field-border-radius);
}

.numberFieldPrefixInputSuffix > input:last-child {
    border-bottom-right-radius: var(--field-border-radius);
    border-top-right-radius: var(--field-border-radius);
}

.numberFieldUnit {
    padding: 0 var(--spacing-200);
    line-height: calc(var(--field-height) - 2px /* border width, top and bottom */);
}

.numberFieldUnit:last-child {
    border-bottom-right-radius: var(--field-border-radius);
    border-top-right-radius: var(--field-border-radius);
}

.numberFieldUnit:first-child {
    border-bottom-left-radius: var(--field-border-radius);
    border-top-left-radius: var(--field-border-radius);
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.radioGroup > label {
    color: var(--slate-700);
}

.radioField {
    border: solid 1px var(--slate-500);
    border-radius: 4px;
    width: 100%;
    height: var(--field-height);

    display: flex;
    align-items: center;
    gap: var(--spacing-200);
    padding: 0 var(--spacing-200);
}

.radioField:hover {
    border-color: var(--lime);
}

.radioField:has(input:checked) {
    border-color: var(--lime);
    background-color: var(--lime-muted);
}

.submitButton {
    --button-height: var(--56px);
    height: var(--button-height);
    border: none;
    border-radius: calc(var(--button-height) / 2);
    background-color: var(--lime);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);
}

.submitButton:hover {
    background-color: var(--lime-lightened);
}

.resultPlaceholder {
    padding: var(--spacing-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);

    text-align: center;

    background-color: var(--slate-900);
}

.resultPlaceholder h2 {
    color: white;
}

.resultPlaceholder p {
    color: var(--slate-300);
}