.numberField label {
    color: var(--slate-700);
}

.numberFieldPrefixInputSuffix {
    display: flex;
    align-items: center;
    height: var(--field-height);
    border: solid 1px var(--slate-500);
    border-radius: var(--field-border-radius);
    color: var(--slate-700);
    background-color: var(--slate-100);
}

.numberFieldPrefixInputSuffix:has(input:user-invalid) {
    border-color: var(--field-color-invalid);
    background-color: var(--field-color-invalid);
    color: white;
}

.numberFieldPrefixInputSuffix:has(input:valid) {
    border-color: var(--field-color-valid);
    background-color: var(--field-color-valid);
    color: var(--slate-900)
}

.numberFieldPrefixInputSuffix > input {
    appearance: textfield;
    width: 100%;
    height: 100%;
    padding: var(--spacing-200);
    border: none;
    background-color: white;
    color: var(--slate-900);
}

.numberFieldPrefixInputSuffix > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numberFieldPrefixInputSuffix > input:focus {
    outline: none;
}

.numberFieldPrefixInputSuffix > input:first-child {
    border-bottom-left-radius: var(--field-border-radius);
    border-top-left-radius: var(--field-border-radius);
}

.numberFieldPrefixInputSuffix > input:last-child {
    border-bottom-right-radius: var(--field-border-radius);
    border-top-right-radius: var(--field-border-radius);
}

.numberFieldUnit {
    padding: 0 var(--spacing-200);
    line-height: calc(var(--field-height) - 2px /* border width, top and bottom */);
}

.numberFieldUnit:last-child {
    border-bottom-right-radius: var(--field-border-radius);
    border-top-right-radius: var(--field-border-radius);
}

.numberFieldUnit:first-child {
    border-bottom-left-radius: var(--field-border-radius);
    border-top-left-radius: var(--field-border-radius);
}

.error {
    color: var(--red);
}