$blue-950: #14172E;
$blue-900: #161932;
$blue-850: #1E213F;
$blue-100: #D7E0FF;
$blue-50: #EFF1FA;
$grey-400: #BBBDCB;
$grey-200: #E4E2E2;
$cyan-300: #70F3F8;
$red-400: #F87070;
$purple-400: #D881F8;
$gradient-1-start: #2E325A;
$gradient-1-end: #0E112A;

$accent-color-1: $red-400;
$accent-color-2: $cyan-300;
$accent-color-3: $purple-400;

:root {
    --accent-color: #{$accent-color-1};
}
