@use "./color" as *;

button:active,
input[type="radio"]:active {
  scale: 0.97;
}

button:hover,
input[type="radio"]:hover {
  filter: brightness(120%);
}

input[type="radio"]:focus-visible {
  outline: 1px solid $blue-50;
  outline-offset: 5px;
}
