@use "./color" as *;

button:active,
input[type="radio"]:active {
  transform: scale(0.97);
}

button:hover,
input[type="radio"]:hover {
  filter: brightness(120%);
}

button:focus,
input[type="radio"]:focus-visible {
  outline-color: $blue-50;
  outline-offset: 5px;
}
