$spacing-100: 0.5rem;
$spacing-150: $spacing-100 * 1.5;
$spacing-200: $spacing-100 * 2;
$spacing-300: $spacing-100 * 3;
$spacing-400: $spacing-100 * 4;
$spacing-500: $spacing-100 * 5;
$spacing-600: $spacing-100 * 6;
$spacing-700: $spacing-100 * 7;
$spacing-800: $spacing-100 * 8;
$spacing-1000: $spacing-100 * 10;
