@use "./breakpoint" as *;

@font-face {
    font-family: "Kumbh Sans";
    font-weight: normal bold;
    src:
        local("Kumbh Sans"),
        url("../assets/fonts/KumbhSans/KumbhSans-VariableFont_YOPQ,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: normal;
    src:
        local("Roboto Slab Regular"),
        url("../assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: bold;
    src:
        local("Roboto Slab Bold"),
        url("../assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Space Mono";
    font-weight: normal;
    src:
        local("Space Mono Regular"),
        url("../assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Space Mono";
    font-weight: bold;
    src:
        local("Space Mono Bold"),
        url("../assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
}

$font-1: "Kumbh Sans";
$font-2: "Roboto Slab";
$font-3: "Space Mono";

@mixin text-preset-1-font-1 {
    font-family: $font-1;
    font-size: 6.25rem;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: -5px;

    @media (max-width: $bp-tablet) {
        font-size: 5rem;
    }
}

@mixin text-preset-2-font-1 {
    font-family: $font-1;
    font-size: 1rem;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: 15px;

    @media (max-width: $bp-tablet) {
        font-size: 0.875rem;
        line-height: 120%;
        letter-spacing: 13px;
    }
}

@mixin text-preset-3-font-1 {
    font-family: $font-1;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0;

    @media (max-width: $bp-tablet) {
        font-size: 0.75rem;
        line-height: 125%;
    }
}

@mixin text-preset-1-font-2 {
    font-family: $font-2;
    font-weight: bold;
    font-size: 6.25rem;
    line-height: 130%;
    letter-spacing: 0;

    @media (max-width: $bp-tablet) {
        font-size: 5rem;
        line-height: 133%;
    }
}

@mixin text-preset-2-font-2 {
    font-family: $font-2;
    font-weight: bold;
    font-size: 1rem;
    line-height: 125%;
    letter-spacing: 15px;

    @media (max-width: $bp-tablet) {
        font-size: 5rem;
        line-height: 133%;
    }
}

@mixin text-preset-3-font-2 {
    font-family: $font-2;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 130%;
    letter-spacing: 0;

    @media (max-width: $bp-tablet) {
        font-size: 0.75rem;
        line-height: 133%;
    }
}


@mixin text-preset-1-font-3 {
    font-family: $font-3;
    font-weight: bold;
    font-size: 6.25rem;
    line-height: 150%;
    letter-spacing: -10px;

    @media (max-width: $bp-tablet) {
        font-size: 5rem;
        line-height: 120%;
    }
}

@mixin text-preset-2-font-3 {
    font-family: $font-3;
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 15px;

    @media (max-width: $bp-tablet) {
        font-size: 0.875rem;
        letter-spacing: 0.8125rem;
    }
}

@mixin text-preset-3-font-3 {
    font-family: $font-3;
    font-weight: bold;
    font-size: 0.8125rem;
    line-height: 145%;
    letter-spacing: 0;

    @media (max-width: $bp-tablet) {
        font-size: 0.75rem;
        line-height: 150%;
    }
}