@use "./breakpoint" as *;

@font-face {
  font-family: "Kumbh Sans";
  font-weight: 700;
  src:
    local("Kumbh Sans"),
    url("../assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-weight: 700;
  src:
    local("Roboto Slab Bold"),
    url("../assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  src:
    local("Space Mono Regular"),
    url("../assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  src:
    local("Space Mono Bold"),
    url("../assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
}

$sans: "Kumbh Sans";
$serif: "Roboto Slab";
$mono: "Space Mono";

@mixin use-font-sans {
  --text-preset-1-font: bold 6.25rem #{$sans};
  --text-preset-1-font-mobile: bold 5rem #{$sans};
  --text-preset-1-line-height: 125%;
  --text-preset-1-letter-spacing: -0.3125rem;

  --text-preset-2-font: bold 1rem #{$sans};
  --text-preset-2-font-mobile: bold 0.875rem #{$sans};
  --text-preset-2-line-height: 125%;
  --text-preset-2-line-height-mobile: 120%;
  --text-preset-2-letter-spacing: 0.9375rem;
  --text-preset-2-letter-spacing-mobile: 0.8125rem;

  --text-preset-3-font: bold 0.875rem #{$sans};
  --text-preset-3-font-mobile: bold 0.75rem #{$sans};
  --text-preset-3-line-height: 120%;
  --text-preset-3-line-height-mobile: 125%;
  --text-preset-3-letter-spacing: 0;
}

@mixin use-font-serif {
  --text-preset-1-font: bold 6.25rem #{$serif};
  --text-preset-1-font-mobile: bold 5rem #{$serif};
  --text-preset-1-line-height: 130%;
  --text-preset-1-line-height-mobile: 133%;
  --text-preset-1-letter-spacing: 0;

  --text-preset-2-font: bold 1rem #{$serif};
  --text-preset-2-font-mobile: bold 0.875rem #{$serif};
  --text-preset-2-line-height: 125%;
  --text-preset-2-line-height-mobile: 130%;
  --text-preset-2-letter-spacing: 0.9375rem;
  --text-preset-2-letter-spacing-mobile: 0.8125rem;

  --text-preset-3-font: bold 0.875rem #{$serif};
  --text-preset-3-font-mobile: bold 0.75rem #{$serif};
  --text-preset-3-line-height: 130%;
  --text-preset-3-line-height-mobile: 133%;
  --text-preset-3-letter-spacing: 0;
}

@mixin use-font-mono {
  --text-preset-1-font: normal 6.25rem #{$mono};
  --text-preset-1-font-mobile: normal 5rem #{$mono};
  --text-preset-1-line-height: 150%;
  --text-preset-1-line-height-mobile: 120%;
  --text-preset-1-letter-spacing: -0.625rem;

  --text-preset-2-font: bold 1rem #{$mono};
  --text-preset-2-font-mobile: bold 0.875rem #{$mono};
  --text-preset-2-line-height: 150%;
  --text-preset-2-line-height-mobile: 130%;
  --text-preset-2-letter-spacing: 0.9375rem;
  --text-preset-2-letter-spacing-mobile: 0.8125rem;

  --text-preset-3-font: bold 0.8125rem #{$mono};
  --text-preset-3-font-mobile: bold 0.75rem #{$mono};
  --text-preset-3-line-height: 145%;
  --text-preset-3-line-height-mobile: 150%;
  --text-preset-3-letter-spacing: 0;
}

@mixin text-preset($number) {
  font: var(--text-preset-#{$number}-font);
  line-height: var(--text-preset-#{$number}-line-height);
  letter-spacing: var(--text-preset-#{$number}-letter-spacing);

  @media (max-width: $bp-tablet) {
    font: var(
      --text-preset-#{$number}-font-mobile,
      var(--text-preset-#{$number}-font)
    );
    line-height: var(
      --text-preset-#{$number}-line-height-mobile,
      var(--text-preset-#{$number}-line-height)
    );
    letter-spacing: var(
      --text-preset-#{$number}-letter-spacing-mobile,
      var(--text-preset-#{$number}-letter-spacing)
    );
  }
}

@mixin text-preset-1 {
  @include text-preset(1);
}

@mixin text-preset-1--settings {
  font: bold 1.75rem $sans;
  line-height: 125%;
  letter-spacing: 0;
}

@mixin text-preset-2 {
  @include text-preset(2);
}

@mixin text-preset-2--settings {
  font: bold 0.8125rem $sans;
  line-height: 125%;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  @include text-preset(3);
}

@mixin text-preset-3--settings {
  font: bold 0.8125rem $sans;
  line-height: 125%;
  letter-spacing: 0.3125rem;
}

@mixin text-preset-4--settings {
  font: bold 0.75rem $sans;
  line-height: 125%;
  letter-spacing: 0;
}
