@use "./breakpoint" as *;

@font-face {
  font-family: "Kumbh Sans";
  font-weight: 400 700;
  src:
    local("Kumbh Sans"),
    url("../assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-weight: 400;
  src:
    local("Roboto Slab Regular"),
    url("../assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-weight: 700;
  src:
    local("Roboto Slab Bold"),
    url("../assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  src:
    local("Space Mono Regular"),
    url("../assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  src:
    local("Space Mono Bold"),
    url("../assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
}

$sans: "Kumbh Sans";
$serif: "Roboto Slab";
$mono: "Space Mono";

// font sans
$text-preset-1-font-sans: bold 6.25rem $sans ;
$text-preset-1-font-sans-mobile: bold 5rem $sans;
$text-preset-1-line-height-sans: 125%;
$text-preset-1-letter-spacing-sans: -0.3125rem;

$text-preset-2-font-sans: bold 1rem $sans;
$text-preset-2-font-sans-mobile: bold 0.875rem $sans;
$text-preset-2-line-height-sans: 125%;
$text-preset-2-line-height-sans-mobile: 120%;
$text-preset-2-letter-spacing-sans: 0.9375rem;
$text-preset-2-letter-spacing-sans-mobile: 0.8125rem;

$text-preset-3-font-sans: bold 0.875rem $sans;
$text-preset-3-font-sans-mobile: bold 0.75rem $sans;
$text-preset-3-line-height-sans: 120%;
$text-preset-3-line-height-sans-mobile: 125%;
$text-preset-3-letter-spacing-sans: 0;

// font serif
$text-preset-1-font-serif: bold 6.25rem $serif;
$text-preset-1-font-serif-mobile: bold 5rem $serif;
$text-preset-1-line-height-serif: 130%;
$text-preset-1-line-height-serif-mobile: 133%;
$text-preset-1-letter-spacing-serif: 0;

$text-preset-2-font-serif: bold 1rem $serif;
$text-preset-2-font-serif-mobile: bold 0.875rem $serif;
$text-preset-2-line-height-serif: 125%;
$text-preset-2-line-height-serif-mobile: 130%;
$text-preset-2-letter-spacing-serif: 0.9375rem;
$text-preset-2-letter-spacing-serif-mobile: 0.8125rem;

$text-preset-3-font-serif: bold 0.875rem $serif;
$text-preset-3-font-serif-mobile: bold 0.75rem $serif;
$text-preset-3-line-height-serif: 130%;
$text-preset-3-line-height-serif-mobile: 133%;
$text-preset-3-letter-spacing-serif: 0;

// font mono
$text-preset-1-font-mono: normal 6.25rem $mono;
$text-preset-1-font-mono-mobile: normal 5rem $mono;
$text-preset-1-line-height-mono: 150%;
$text-preset-1-line-height-mono-mobile: 120%;
$text-preset-1-letter-spacing-mono: -0.625rem;

$text-preset-2-font-mono: bold 1rem $mono;
$text-preset-2-font-mono-mobile: bold 0.875rem $mono;
$text-preset-2-line-height-mono: 150%;
$text-preset-2-line-height-mono-mobile: 130%;
$text-preset-2-letter-spacing-mono: 0.9375rem;
$text-preset-2-letter-spacing-mono-mobile: 0.8125rem;

$text-preset-3-font-mono: bold 0.8125rem $mono;
$text-preset-3-font-mono-mobile: bold 0.75rem $mono;
$text-preset-3-line-height-mono: 145%;
$text-preset-3-line-height-mono-mobile: 150%;
$text-preset-3-letter-spacing-mono: 0;

@mixin use-font-sans {
  --text-preset-1-font: #{$text-preset-1-font-sans};
  --text-preset-1-font-mobile: #{$text-preset-1-font-sans-mobile};
  --text-preset-1-line-height: #{$text-preset-1-line-height-sans};
  --text-preset-1-letter-spacing: #{$text-preset-1-letter-spacing-sans};

  --text-preset-2-font: #{$text-preset-2-font-sans};
  --text-preset-2-font-mobile: #{$text-preset-2-font-sans-mobile};
  --text-preset-2-line-height: #{$text-preset-2-line-height-sans};
  --text-preset-2-line-height-mobile: #{$text-preset-2-line-height-sans-mobile};
  --text-preset-2-letter-spacing: #{$text-preset-2-letter-spacing-sans};
  --text-preset-2-letter-spacing-mobile: #{$text-preset-2-letter-spacing-sans-mobile};

  --text-preset-3-font: #{$text-preset-3-font-sans};
  --text-preset-3-font-mobile: #{$text-preset-3-font-sans-mobile};
  --text-preset-3-line-height: #{$text-preset-3-line-height-sans};
  --text-preset-3-line-height-mobile: #{$text-preset-3-line-height-sans-mobile};
  --text-preset-3-letter-spacing: #{$text-preset-3-letter-spacing-sans};
}

@mixin use-font-serif {
  --text-preset-1-font: #{$text-preset-1-font-serif};
  --text-preset-1-font-mobile: #{$text-preset-1-font-serif-mobile};
  --text-preset-1-line-height: #{$text-preset-1-line-height-serif};
  --text-preset-1-letter-spacing: #{$text-preset-1-letter-spacing-serif};

  --text-preset-2-font: #{$text-preset-2-font-serif};
  --text-preset-2-font-mobile: #{$text-preset-2-font-serif-mobile};
  --text-preset-2-line-height: #{$text-preset-2-line-height-serif};
  --text-preset-2-line-height-mobile: #{$text-preset-2-line-height-serif-mobile};
  --text-preset-2-letter-spacing: #{$text-preset-2-letter-spacing-serif};
  --text-preset-2-letter-spacing-mobile: #{$text-preset-2-letter-spacing-serif-mobile};

  --text-preset-3-font: #{$text-preset-3-font-serif};
  --text-preset-3-font-mobile: #{$text-preset-3-font-serif-mobile};
  --text-preset-3-line-height: #{$text-preset-3-line-height-serif};
  --text-preset-3-line-height-mobile: #{$text-preset-3-line-height-serif-mobile};
  --text-preset-3-letter-spacing: #{$text-preset-3-letter-spacing-serif};
}

@mixin use-font-mono {
  --text-preset-1-font: #{$text-preset-1-font-mono};
  --text-preset-1-font-mobile: #{$text-preset-1-font-mono-mobile};
  --text-preset-1-line-height: #{$text-preset-1-line-height-mono};
  --text-preset-1-letter-spacing: #{$text-preset-1-letter-spacing-mono};

  --text-preset-2-font: #{$text-preset-2-font-mono};
  --text-preset-2-font-mobile: #{$text-preset-2-font-mono-mobile};
  --text-preset-2-line-height: #{$text-preset-2-line-height-mono};
  --text-preset-2-line-height-mobile: #{$text-preset-2-line-height-mono-mobile};
  --text-preset-2-letter-spacing: #{$text-preset-2-letter-spacing-mono};
  --text-preset-2-letter-spacing-mobile: #{$text-preset-2-letter-spacing-mono-mobile};

  --text-preset-3-font: #{$text-preset-3-font-mono};
  --text-preset-3-font-mobile: #{$text-preset-3-font-mono-mobile};
  --text-preset-3-line-height: #{$text-preset-3-line-height-mono};
  --text-preset-3-line-height-mobile: #{$text-preset-3-line-height-mono-mobile};
  --text-preset-3-letter-spacing: #{$text-preset-3-letter-spacing-mono};
}

@mixin text-preset-1 {
  font: var(--text-preset-1-font);
  line-height: var(--text-preset-1-line-height);
  letter-spacing: var(--text-preset-1-letter-spacing);

  @media (max-width: $bp-tablet) {
    font: var(--text-preset-1-font-mobile);
    line-height: var(--text-preset-1-line-height-mobile);
    letter-spacing: var(--text-preset-1-letter-spacing-mobile);
  }
}

@mixin text-preset-1--settings {
  font: bold 1.75rem $sans;
  line-height: 125%;
  letter-spacing: 0;
}

@mixin text-preset-2 {
  font: var(--text-preset-2-font);
  line-height: var(--text-preset-2-line-height);
  letter-spacing: var(--text-preset-2-letter-spacing);

  @media (max-width: $bp-tablet) {
    font: var(--text-preset-2-font-mobile);
    line-height: var(--text-preset-2-line-height-mobile);
    letter-spacing: var(--text-preset-2-letter-spacing-mobile);
  }
}

@mixin text-preset-2--settings {
  font: bold 0.8125rem $sans;
  line-height: 125%;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font: var(--text-preset-3-font);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);

  @media (max-width: $bp-tablet) {
    font: var(--text-preset-3-font-mobile);
    line-height: var(--text-preset-3-line-height-mobile);
    letter-spacing: var(--text-preset-3-letter-spacing-mobile);
  }
}

@mixin text-preset-3--settings {
  font: bold 0.8125rem $sans;
  line-height: 125%;
  letter-spacing: 0.3125rem;
}

@mixin text-preset-4--settings {
  font: bold 0.75rem $sans;
  line-height: 125%;
  letter-spacing: 0;
}

:root {
  // Default is font sans
  @include use-font-sans;
}
